* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  text-align: center;
  font-family: "Bigelow Rules";
  background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #fc949b, #c471ed, #12c2e9);
}
h1.Text_header {
  font-size: 80px;
}
